* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 
}
 body {
       margin: 0;
       padding: 0;
       background-color: #daddccfd;
}
header {
        background-color: #333;
        padding:10px; 
       }

nav ul {
        list-style: none;
        text-align: center;
       }

nav ul li {
            display: inline;
            margin: 0 20px;
}

nav ul li a {
                color: white;
                text-decoration: none;
                font-weight: bold;
}

nav ul li a:hover {
                    color: #ff8c00;
}

h3{
    color: #115ac8;
    font-size: 30px;
    word-spacing: 10px;
    text-align: left;
} 

h5{
    color: #333;
}

.core-values {
                text-align: left;
                display: flexbox;
                
}

.about-section {
                    background: #daddccfd;
                    text-align: center;
                }
.about-section h2 {
                    color: #141313;
                    }

.about-section p {
                    color: #141010;
                    line-height: 1.6;
                }

.about-image {
                width: 100%;
                max-width: 300px;
                border-radius: 100%;
                margin: 20px 0;
            }  
.section-main{
    margin: 20px;
    padding: 20px;
} 
.section-main h5{
    color: #141313;
    margin-top: 20px;
}
.section-main p {
    margin-top: 10px;
}
           