
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    background-color: #daddccfd;
    color: #333;
  }
  header {
    background-color: #333;
    padding: 10px 0;
  }
  
  nav ul {
    list-style: none;
    text-align: center;
  }
  
  nav ul li {
    display: inline;
    margin: 0 20px;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  
  nav ul li a:hover {
    color: #115ac8;
  }
  .application-form {
    max-width: 800px;
    margin: 40px auto;
    padding: 30px;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 4px 8px #010058;
  }

  .application-form h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
  }

  .application-form p {
    text-align: center;
    color: #666;
    margin-bottom: 30px;
  }

  .form-group {
    margin-bottom: 20px;
  }

  .form-group label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
  }

  .form-group input,
  .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #b1acac;
    border-radius: 4px;
    font-size: 16px;
  }

  .form-group textarea {
    resize: vertical;
    min-height: 100px;
  }

  .form-group input[type="file"] {
    padding: 8px;
    background-color: #fff;
  }

  .application-form button {
    display: block;
    width: 100%;
    padding: 12px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .application-form button:hover {
    background-color: #115ac8;
  }